@model IEnumerable<MVCSecurity.Models.Clothing>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanDryClean)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstProduced)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanDryClean)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstProduced)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |

                @if (User.IsInRole(MVCSecurity.Models.SecurityRoles.CanViewClolthingDetails))
                {
                    @Html.ActionLink("Details |", "Details", new { id = item.ID }) 
                }
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
